<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bulletin Board</title>
  </head>
  <body>
    <%- include('layout'); -%>
    <div class="container">
      <h1>All Messages</h1>
      <div>
        <div class="row message-box">
          <% messages.forEach(function(data) { %>
            <div class="col-md-5 col-md-offset-2">
              <span class="title"><h2><%= data.title %></h2></span>
              <p><%= data.body %></p>
            </div>
          <% }); %>
        </div>
      </div>
    </div>
  </body>
</html>
