<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bulletin Board</title>
  </head>
  <body>
    <%- include('layout'); -%>
    <div class="container">
      <span class="page-title"><h1>All Messages</h1></span>
      <div class="row message-box">
        <% messages.forEach(function(data) { %>
          <div class="col-md-5 col-md-offset-2">
            <img src="/public/images/pin.png" style="width:10%;">
            <span class="title"><p><%= data.title %></p></span>
            <p><%= data.body %></p>
          </div>
        <% }); %>
      </div>
    </div>
  </body>
</html>
