<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bulletin Board</title>
  </head>
  <body>
    <%- include('layout'); -%>
    <div class="container">
      <h1>All Messages</h1>
    </div>
  </body>
</html>
