@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR|Oswald|Playfair+Display|Yesteryear');

body {
  background-color: #b8bad6;
  background-repeat: no-repeat;
  font-family: 'Playfair Display', serif;
  color: #2E2E2E;
}

h1 {
  font-family: 'Yesteryear', cursive;
  color: #2E2E2E;
  font-size: 5rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

/*Navbar*/


/*Form*/
label {
  font-size: 1.3rem;
}

form {
  box-shadow: 5px 5px 28px grey;
  background-color: #fff;
  padding: 5%;
}

/*Messages*/
.message-box div {
  font-size: 1.4em;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 4%;
  text-align: justify;
}

.title {
  font-size: 2rem;
  color: #624f9c;
  margin-bottom: 2rem;
}

.message-box div:hover {
  background-color: #bff0ef;
  box-shadow: 5px 5px 28px gray;
}

/*Buttons*/
.btn-custom {
  width: 15%;
  font-size: 0.8rem;
  text-align: center;
  background-color: #b8bad6;
  border-color: transparent;
}

.btn-custom:hover {
  background-color: #2E2E2E;
  color: #fff;
}
