@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR|Oswald|Playfair+Display|Yesteryear');
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie');

body {
  background: url(/public/images/board.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Playfair Display', serif;
  color: #2E2E2E;
}

h1 {
  font-family: 'Yesteryear', cursive;
  color: #2E2E2E;
  font-size: 5rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container {
  min-width: 85%;
}

.page-title h1 {
  text-align: center;
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  background-color: #feffca;
  position:relative;
  padding: 1%;
  top: 20px;
  bottom: 30px;
}


/*Form*/
label {
  font-size: 1.3rem;
}

form {
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  background-color: #feffca;
  padding: 5%;
  margin-top: 10%;
}

/*Messages*/

.message-box div{
  font-size: 2em;
  font-family:"Reenie Beanie",arial,sans-serif;
  background-color: #feffca;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 20px;
  padding: 20px;
  text-align: justify;
  -o-transform:rotate(2deg);
  -webkit-transform:rotate(2deg);
  -moz-transform:rotate(2deg);
  position:relative;
  top:-10px;
}

.message-box div:hover{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.10);
  -moz-transform: scale(1.10);
  -o-transform: scale(1.10);
  position:relative;
  z-index:5;
}

.title {
  font-size: 3rem;
  color: #624f9c;
  margin-bottom: 3rem;
}

/*Buttons*/
.btn-custom {
  width: 15%;
  font-size: 0.8rem;
  text-align: center;
  background-color: #b8bad6;
  border-color: transparent;
}

.btn-custom:hover {
  background-color: #2E2E2E;
  color: #fff;
}
